# Akses SQL Database (ipython-sql)

ipython-sql merupakan extension library untuk melakukan query dalam database dengan bahasa SQL di Python.

Sebelumnya ekstensi ipython-sql ini harus di instal ke dalam komputer lokal atau environtment jupyter notebook. 
Berikut ini cara instal ipython-sql.

Windows:
<ul> Menginstal di komputer lokal
    <li>buka cmd
    <li>ketik perintah : "<b>pip install ipython-sql</b>" kemudian, enter
</ul>

<ul> Menginstal di environtment Jupyter Notebook
    <li>buka Anaconda Powershell atau Anaconda Prompt
    <li>ketik perintah : "<b>conda install -c conda-forge ipython-sql</b>" kemudian, enter
</ul>

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%reload_ext sql

## Akses PostgreSQL

In [7]:
# database url:
# engine://username:password@host:port/database
postgre_con = 'postgresql://postgres:postgres@localhost:5432/hero'

In [ ]:
# untuk aktivasi query special postgres: di komputer lokal
# query special : \l, \d, \dt
#! pip install pgspecial

In [ ]:
# untuk aktivasi query special postgres: di jupyter notebook
#! conda install -c conda-forge pgspecial

In [12]:
# untuk melihat semua database gunakan \l
%sql $postgre_con \l

7 rows affected.

[('hero',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  None),
 ('hr',
  'hr',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  None),
 ('penjualan_barang',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  None),
 ('postgres',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  None),
 ('template0',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  '=c/postgres\npostgres=CTc/postgres'),
 ('todolist',
  'postgres',
  'UTF8',
  'English_Indonesia.1252',
  'English_Indonesia.1252',
  None)]

In [13]:
# melihat semua table & sequence gunakan \d

%sql $postgre_con \d

1 rows affected.

[('public', 'avengers', 'table', 'postgres')]

In [14]:
# melihat semua table gunakan \dt

%sql $postgre_con \dt

1 rows affected.

[('public', 'avengers', 'table', 'postgres')]

In [8]:
# membuat table avengers di dalam database hero

%sql $postgre_con create table avengers (id int, name varchar(255), age int)

Done.

[]

In [18]:
# input data ke dalam table avengers

%sql $postgre_con insert into avengers values (1, 'Captain America', 23), (2, 'Iron Man', 24)

2 rows affected.

[]

In [19]:
%sql $postgre_con select * from avengers

2 rows affected.

[(1, 'Captain America', 23), (2, 'Iron Man', 24)]